:root {
    --font-family-poppins: Poppins;
    --font-size-xxl: 22px;
    --font-size-xl: 20px;  
    --mine-shaft: #2D3135;
    --white: #FFFFFF;
    --font-size-l2: 16px;
    --font-size-l: 18px;
  }

  .docters-name-requests {
    letter-spacing: 1.00px;
    line-height: 24px;
    min-height: 24px;
    min-width: 281px;
    mix-blend-mode: normal;
    opacity: 0.8;
    text-shadow: 0px 2px 2px #272c3566;
    white-space: nowrap;
    width: 281px;
    font-family: var(--font-family-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-l);
    line-height: 24px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    margin-left: -80px;
  }
  .flex-row-requests {
    align-items: flex-start;
    display: flex;
    margin-right: 107.0px;
    margin-top: 6px;
    min-width: 1023px;
  }
  .flex-row-1-requests {
    align-items: flex-end;
    display: flex;
    margin-left: 4.0px;
    margin-top: 36px;
    min-width: 1134px;
  }
  .flex-row-2-requests {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    height: 24px;
    margin-top: 36px;
    min-width: 1224px;
  }
  .grant-button-requests {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    margin-left: -100px;
    //min-width: 111px;
  }
  .incoming-requests {
    letter-spacing: 1.00px;
    line-height: 24px;
    margin-right: 9.0px;
    min-height: 24px;
    min-width: 281px;
    mix-blend-mode: normal;
    opacity: 0.8;
    text-align: center;
    text-shadow: 0px 2px 2px #272c3566;
    white-space: nowrap;
    width: 281px;
    font-family: var(--font-family-poppins);
    font-style: normal;
    font-weight: 600;
    font-size: var(--font-size-xl);
    line-height: 24px;
    color: #FFFFFF;
    mix-blend-mode: normal;
  }
  .docname1-requests {
    letter-spacing: 0;
    line-height: 24px;
    min-height: 24px;
    min-width: 281px;
    mix-blend-mode: normal;
    opacity: 0.8;
    text-shadow: 0px 2px 2px #272c3566;
    white-space: nowrap;
    width: 281px;
    font-family: var(--font-family-poppins);
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-size-l);
    line-height: 24px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    margin-right: -20px;
    margin-left: 230px;
  }

  .doc-eth-requests {
    letter-spacing: 1.00px;
    line-height: 24px;
    min-height: 24px;
    min-width: 281px;
    mix-blend-mode: normal;
    opacity: 0.8;
    text-shadow: 0px 2px 2px #272c3566;
    white-space: nowrap;
    width: 281px;
    font-family: var(--font-family-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-l);
    line-height: 24px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    margin-right: 170px;
  }
  .name-requests {
    letter-spacing: 1.00px;
    margin-left: 0px;
    min-height: 21px;
    min-width: 92px;
    mix-blend-mode: normal;
    text-align: center;
    width: 92px;
    font-family: var(--font-family-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #9A5BFF;
    mix-blend-mode: normal;
  }
  .overlap-group-requests {
    align-items: center;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    min-height: 1082px;
    padding: 56px 0px;
    width: 1440px;
    background: #2D3135;
    /* Idle Shadow */

    box-shadow: -2px -2px 4px rgba(74, 78, 83, 0.5), 2px 2px 6px rgba(35, 37, 39, 0.8), 8px 8px 30px rgba(35, 37, 39, 0.9), -6px -6px 20px rgba(74, 78, 83, 0.7);
    border-radius: 45px 45px 0px 0px;
  }
  .overlap-group-1-requests {
    align-items: flex-start;
    background-color: var(--mine-shaft);
    border-radius: 30px;
    box-shadow: -6px -6px 20px #494e52b2 , 8px 8px 30px #232527e6 , 2px 2px 6px #232527cc , -2px -2px 4px #4a4e5380;
    display: flex;
    height: 28px;
    justify-content: flex-end;
    min-width: 109px;
    padding: 3px 8px;
  }

  .overlap-group-1-requests:hover{
    background: #2D3135;
    /* Hover Shadow */
  
    box-shadow: 8px 8px 30px rgba(35, 37, 39, 0.9), -6px -6px 20px rgba(74, 78, 83, 0.7), inset -2px -2px 4px rgba(74, 78, 83, 0.5), inset 4px 4px 10px rgba(35, 37, 39, 0.8);
    border-radius: 30px;
  }
  .rectangle-5-requests {
    background: rgba(127, 132, 137, 0.25);
    box-shadow: 12px 6px 40px rgba(255, 105, 169, 0.182009);
    border-radius: 100px;
    height: 3px;
    mix-blend-mode: normal;
    width: 80px;
  }
  .rectangle-89-requests {
    background: rgba(127, 132, 137, 0.25);
    box-shadow: 12px 6px 40px rgba(255, 105, 169, 0.182009);
    border-radius: 100px;
    height: 3px;
    margin-left: 340px;
    mix-blend-mode: normal;
    width: 80px;
  }
  .rectangle-90-requests {
    height: 3px;
    margin-left: 443px;
    mix-blend-mode: normal;
    width: 80px;
    background: rgba(127, 132, 137, 0.25);
    box-shadow: 12px 6px 40px rgba(255, 105, 169, 0.182009);
    border-radius: 100px;
  }
  .rectangle-95-requests {
    height: 1px;
    margin-left: 5.0px;
    margin-top: 30px;
    mix-blend-mode: normal;
    width: 1135px;
    background: rgba(127, 132, 137, 0.25);
    box-shadow: 12px 6px 40px rgba(255, 105, 169, 0.182009);
    border-radius: 100px;
  }
  .reject-requests {
    letter-spacing: 1.00px;
    min-height: 21px;
    min-width: 92px;
    mix-blend-mode: normal;
    text-align: center;
    width: 92px;
    font-family: var(--font-family-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #E32C2C;
    mix-blend-mode: normal;
  }
  .reject-button-requests {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    margin-left: 28px;
    margin-right: 200px;
    min-width: 111px;
  }
  .requests {
    align-items: flex-start;
    //background-color: var(--mine-shaft);
    display: flex;
    height: 900px;
    mix-blend-mode: normal;
    overflow: hidden;
    width: 1440px;
    margin-top: 0px;
    margin-right: 0px;
  }
  .take-action-requests {
    letter-spacing: 1.00px;
    line-height: 24px;
    margin-left: -30px;
    min-height: 24px;
    mix-blend-mode: normal;
    opacity: 0.8;
    text-shadow: 0px 2px 2px #272c3566;
    white-space: nowrap;
    font-family: var(--font-family-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-l);
    line-height: 24px;
    color: #FFFFFF;
    mix-blend-mode: normal;
  }
  .docether1-requests {
    letter-spacing: 0;
    line-height: 24px;
    margin-left: 80px;
    margin-right: 50px;
    min-height: 24px;
    min-width: 281px;
    mix-blend-mode: normal;
    opacity: 0.8;
    text-shadow: 0px 2px 2px #272c3566;
    white-space: nowrap;
    width: 281px;
    font-family: var(--font-family-poppins);
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-size-l);
    line-height: 24px;
    color: #FFFFFF;
    mix-blend-mode: normal;
  }

  .recID1-requests {
    letter-spacing: 0;
    line-height: 24px;
    margin-right: 100px;
    margin-left: 0px;
    min-height: 24px;
    min-width: 281px;
    mix-blend-mode: normal;
    opacity: 0.8;
    text-shadow: 0px 2px 2px #272c3566;
    white-space: nowrap;
    width: 281px;
    font-family: var(--font-family-poppins);
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-size-l);
    line-height: 24px;
    color: #FFFFFF;
    mix-blend-mode: normal;
  }
  .text-2-requests {
    letter-spacing: 1.00px;
    line-height: 24px;
    margin-right: 20px;
    min-height: 24px;
    min-width: 281px;
    mix-blend-mode: normal;
    opacity: 0.8;
    text-shadow: 0px 2px 2px #272c3566;
    white-space: nowrap;
    width: 281px;
    font-family: var(--font-family-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-l);
    line-height: 24px;
    color: #FFFFFF;
    mix-blend-mode: normal;
  }
  
  @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
  @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600");
  * {
    box-sizing: border-box;
  }
  .container-center-horizontal {
    pointer-events: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .container-center-horizontal > * {
    pointer-events: auto;
    flex-shrink: 0;
  }
  .screen a {
    text-decoration: none;
    display: contents;
  }
  