:root {
    --font-family-poppins: Poppins;
    --font-size-xxl: 22px;
    --font-size-xl: 20px;  
    --mine-shaft: #2D3135;
    --white: #FFFFFF;
    --font-size-l2: 16px;
    --font-size-l: 18px;
  }

  .newGroup{
    background: #2D3135;
    /* Hover Shadow */
  
    box-shadow: 8px 8px 30px rgba(35, 37, 39, 0.9), -6px -6px 20px rgba(74, 78, 83, 0.7), inset -2px -2px 4px rgba(74, 78, 83, 0.5), inset 4px 4px 10px rgba(35, 37, 39, 0.8);
    border-radius: 30px;
  }

  .ag1637-g {
    left: 875px;
    letter-spacing: 0;
    line-height: 24px;
    mix-blend-mode: normal;
    opacity: 0.8;
    position: absolute;
    text-shadow: 0px 2px 2px #272c3566;
    top: 143px;
    white-space: nowrap;
    width: 281px;
    font-family: var(--font-family-poppins);
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-size-l);
    color: #FFFFFF;
  }
  .docters-name-requests {
    left: 91px;
    letter-spacing: 1.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    opacity: 0.8;
    position: absolute;
    text-shadow: 0px 2px 2px #272c3566;
    top: 70px;
    white-space: nowrap;
    width: 281px;
    font-family: var(--font-family-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-l);
    color: #FFFFFF;
  }
  .group-82-requests {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    height: 28px;
    left: 1243px;
    min-width: 111px;
    position: absolute;
    top: 139px;
  }


  .group-83-requests {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    height: 28px;
    left: 1104px;
    min-width: 111px;
    position: absolute;
    top: 139px;
  }
  .name-requests {
    letter-spacing: 1.00px;
    min-height: 21px;
    min-width: 92px;
    mix-blend-mode: normal;
    text-align: center;
    width: 92px;
    font-family: var(--font-family-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #9A5BFF;
  }
  .requestsRow-requests {
    height: 691px;
    margin-left: 4.0px;
    margin-top: 57px;
    position: relative;
    width: 1444px;
  }
  .overlap-group1-requests {
    align-items: flex-start;
    background-color: var(--mine-shaft);
    border-radius: 30px;
    box-shadow: -6px -6px 20px #494e52b2 , 8px 8px 30px #232527e6 , 2px 2px 6px #232527cc , -2px -2px 4px #4a4e5380;
    display: flex;
    height: 28px;
    justify-content: flex-end;
    min-width: 109px;
    padding: 3px 7px;
  }

  .overlap-group1-requests:hover{
    background: #2D3135;
    /* Hover Shadow */
  
    box-shadow: 8px 8px 30px rgba(35, 37, 39, 0.9), -6px -6px 20px rgba(74, 78, 83, 0.7), inset -2px -2px 4px rgba(74, 78, 83, 0.5), inset 4px 4px 10px rgba(35, 37, 39, 0.8);
    border-radius: 30px;
  }
  
  .overlap-group2-requests {
    align-items: flex-start;
    background-color: var(--mine-shaft);
    border-radius: 30px;
    box-shadow: -6px -6px 20px #494e52b2 , 8px 8px 30px #232527e6 , 2px 2px 6px #232527cc , -2px -2px 4px #4a4e5380;
    display: flex;
    height: 28px;
    justify-content: flex-end;
    min-width: 109px;
    padding: 3px 8px;
  }
  .patient-s-own-records-requestsrow {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 900px;
    mix-blend-mode: normal;
    overflow: hidden;
    padding: 128px 0;
    width: 1440px;
  }
  .record-id-requests {
    left: 875px;
    letter-spacing: 1.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    opacity: 0.8;
    position: absolute;
    text-shadow: 0px 2px 2px #272c3566;
    top: 70px;
    white-space: nowrap;
    width: 281px;
    font-family: var(--font-family-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-l);
    color: #FFFFFF;
  }
  .record-name1-requests {
    left: 91px;
    letter-spacing: 0;
    line-height: 24px;
    mix-blend-mode: normal;
    opacity: 0.8;
    position: absolute;
    text-shadow: 0px 2px 2px #272c3566;
    top: 143px;
    white-space: nowrap;
    width: 281px;
    font-family: var(--font-family-poppins);
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-size-l);
    color: #FFFFFF;
    
  }
  .rectangle-5-requests {
    background-color: var(--gunsmoke);
    border-radius: 100px;
    box-shadow: 12px 6px 40px #ff68a92e;
    height: 3px;
    left: 91px;
    mix-blend-mode: normal;
    position: absolute;
    top: 100px;
    width: 80px;
    background: rgba(127, 132, 137, 0.25);
    box-shadow: 12px 6px 40px rgba(255, 105, 169, 0.182009);
    border-radius: 100px;
  }
  .rectangle-88-requests {
    height: 691px;
    left: 0;
    mix-blend-mode: normal;
    position: absolute;
    top: 0;
    width: 1440px;
    
  }
  .rectangle-89-requests {
    background-color: var(--gunsmoke);
    border-radius: 100px;
    box-shadow: 12px 6px 40px #ff68a92e;
    height: 3px;
    left: 875px;
    mix-blend-mode: normal;
    position: absolute;
    top: 100px;
    width: 80px;
    background: rgba(127, 132, 137, 0.25);
    box-shadow: 12px 6px 40px rgba(255, 105, 169, 0.182009);
    border-radius: 100px;
  }
  .rectangle-90-requests {
    background-color: var(--gunsmoke);
    border-radius: 100px;
    box-shadow: 12px 6px 40px #ff68a92e;
    height: 3px;
    left: 1163px;
    mix-blend-mode: normal;
    position: absolute;
    top: 100px;
    width: 80px;
    background: rgba(127, 132, 137, 0.25);
    box-shadow: 12px 6px 40px rgba(255, 105, 169, 0.182009);
    border-radius: 100px;
  }
  .rectangle-95-requests {
    background-color: var(--gunsmoke);
    border-radius: 100px;
    box-shadow: 12px 6px 40px #ff68a92e;
    height: 1px;
    left: 100px;
    mix-blend-mode: normal;
    position: absolute;
    top: 200px;
    width: 1250px;
    background: rgba(127, 132, 137, 0.25);
    box-shadow: 12px 6px 40px rgba(255, 105, 169, 0.182009);
    border-radius: 100px;
    
  }
  .rectangle-96-requests {
    background-color: var(--gunsmoke);
    border-radius: 100px;
    box-shadow: 12px 6px 40px #ff68a92e;
    height: 3px;
    left: 334px;
    mix-blend-mode: normal;
    position: absolute;
    top: 100px;
    width: 80px;
    background: rgba(127, 132, 137, 0.25);
    box-shadow: 12px 6px 40px rgba(255, 105, 169, 0.182009);
    border-radius: 100px;
  }
  .reject-requests {
    letter-spacing: 1.00px;
    min-height: 21px;
    min-width: 92px;
    mix-blend-mode: normal;
    text-align: center;
    width: 92px;
    font-family: var(--font-family-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #E32C2C;
  }
  .requests {
    letter-spacing: 1.00px;
    line-height: 24px;
    margin-left: 1.0px;
    min-height: 24px;
    min-width: 281px;
    mix-blend-mode: normal;
    opacity: 0.8;
    text-align: center;
    text-shadow: 0px 2px 2px #272c3566;
    white-space: nowrap;
    width: 281px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
  }
  .take-action-requests {
    left: 1163px;
    letter-spacing: 1.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    opacity: 0.8;
    position: absolute;
    text-shadow: 0px 2px 2px #272c3566;
    top: 70px;
    white-space: nowrap;
    width: 281px;
    font-family: var(--font-family-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-l);
    color: #FFFFFF;
  }
  .text-1-requests {
    left: 334px;
    letter-spacing: 0;
    line-height: 24px;
    mix-blend-mode: normal;
    opacity: 0.8;
    position: absolute;
    text-shadow: 0px 2px 2px #272c3566;
    top: 143px;
    white-space: nowrap;
    width: 481px;
    font-family: var(--font-family-poppins);
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-size-l);
    color: #FFFFFF;
  }
  .text-2-requests {
    left: 334px;
    letter-spacing: 1.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    opacity: 0.8;
    position: absolute;
    text-shadow: 0px 2px 2px #272c3566;
    top: 70px;
    white-space: nowrap;
    width: 281px;
    font-family: var(--font-family-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-l);
    color: #FFFFFF;
  }
  
  @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
  @import url("https://fonts.googleapis.com/css?family=Poppins:400,500");
  * {
    box-sizing: border-box;
  }
  .container-center-horizontal {
    pointer-events: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .container-center-horizontal > * {
    pointer-events: auto;
    flex-shrink: 0;
  }
  .screen a {
    text-decoration: none;
    display: contents;
  }
  