:root {
  --font-family-poppins: Poppins;
  --font-size-xxl: 22px;
  --font-size-xl: 20px;  
  --mine-shaft: #2D3135;
  --white: #FFFFFF;
  --font-size-l2: 16px;
  --font-size-l: 18px;
}


.add-record {
  letter-spacing: 1.00px;
  margin-top: 5px;
  min-height: 24px;
  min-width: 105px;
  mix-blend-mode: normal;
  text-align: center;
  color: rgba(176,128,255,1.0);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l2);
  font-weight: 600;
  padding-top: 5px;
}
.add-record-group {
  cursor: pointer;
  height: 150px;
  margin-left: 86px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 152px;
}

.edit-5 {
  height: 56px;
  margin-right: 21px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 56px;
}
.flex-row-hospital {
  align-items: flex-start;
  display: flex;
  margin-top: 24px;
  min-width: 390px;
}
.hospital {
  align-items: flex-start;
  background-color: var(--mine-shaft);
  background-size: 100% 100%;
  display: flex;
  height: 900px;
  mix-blend-mode: normal;
  padding: 0 466px;
  width: 1440px;
}
.overlap-group-hospital {
  align-items: flex-end;
  background-color: var(--mine-shaft);
  border-radius: 30px;
  box-shadow: -6px -6px 20px #494e52b2 , 8px 8px 30px #232527e6 , 2px 2px 6px #232527cc , -2px -2px 4px #4a4e5380;
  display: flex;
  flex-direction: column;
  margin-top: 220px;
  min-height: 460px;
  padding: 100px 58px;
  width: 508px;
}


.overlap-group1-hospital {
  align-items: flex-end;
  background-color: var(--mine-shaft);
  border-radius: 30px;
  box-shadow: -6px -6px 20px #494e52b2 , 8px 8px 30px #232527e6 , 2px 2px 6px #232527cc , -2px -2px 4px #4a4e5380;
  display: flex;
  flex-direction: column;
  min-height: 150px;
  padding: 30px 21px;
  padding-top: 35px;
  width: 150px;
}
.overlap-group1-hospital:hover {

  background: #2D3135;
  /* Hover Shadow */
  
  box-shadow: 8px 8px 30px rgba(35, 37, 39, 0.9), -6px -6px 20px rgba(74, 78, 83, 0.7), inset -2px -2px 4px rgba(74, 78, 83, 0.5), inset 4px 4px 10px rgba(35, 37, 39, 0.8);
  border-radius: 30px;
  }
.overlap-group2-hospital {
  align-items: flex-end;
  background-color: var(--mine-shaft);
  border-radius: 30px;
  box-shadow: -6px -6px 20px #494e52b2 , 8px 8px 30px #232527e6 , 2px 2px 6px #232527cc , -2px -2px 4px #4a4e5380;
  display: flex;
  flex-direction: column;
  min-height: 150px;
  padding: 30px 18px;
  padding-top: 35px;
  width: 150px;
}
.overlap-group2-hospital:hover {

  background: #2D3135;
  /* Hover Shadow */
  
  box-shadow: 8px 8px 30px rgba(35, 37, 39, 0.9), -6px -6px 20px rgba(74, 78, 83, 0.7), inset -2px -2px 4px rgba(74, 78, 83, 0.5), inset 4px 4px 10px rgba(35, 37, 39, 0.8);
  border-radius: 30px;
  }
.span0 {
  letter-spacing: 0.20px;
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 300;
}
.span1 {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 600;
  letter-spacing: 0.20px;
}
.text-1-hospital {
  align-self: center;
  letter-spacing: 1.00px;
  line-height: 27px;
  margin-left: 3.0px;
  min-height: 86px;
  min-width: 347px;
  mix-blend-mode: normal;
  opacity: 0.8;
  text-align: center;
  text-shadow: 0px 2px 2px #272c3566;
  width: 347px;
}
.view-3 {
  align-self: center;
  height: 48px;
  margin-left: 9.0px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 55px;
}
.view-record {
  letter-spacing: 1.00px;
  margin-top: 13px;
  min-height: 24px;
  min-width: 112px;
  mix-blend-mode: normal;
  text-align: center;
  color: rgba(176,128,255,1.0);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l2);
  font-weight: 600;
  padding-top: 5px;
}
.view-record-group {
  cursor: pointer;
  height: 150px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 152px;
}


@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:500,600");
* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen a {
  text-decoration: none;
  display: contents;
}
.smart-layers-pointers,
.smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

