:root {
  --font-family-poppins: Poppins;
  --font-size-xxl: 22px;
  --font-size-xl: 20px;  
  --mine-shaft: #2D3135;
  --white: #FFFFFF;
  --font-size-l2: 16px;
  --font-size-l: 18px;
}


.enter-your-password {
  background-color: transparent;
  border: 0;
  flex-shrink: 1;
  height: 15px;
  padding: 0;
  resize: none;
  width: 180px;
  font-family: var(--font-family-poppins);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-l);
  line-height: 24px;
  color: #7F8489;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-left: -60px;
}

.password {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-right: 1.0px;
  margin-top: 20px;
  margin-left: 30px;
  min-height: 24px;
  min-width: 281px;
  
  text-shadow: 0px 2px 2px rgba(39,44,53,0.4);
  white-space: nowrap;
  width: 281px;
  font-family: var(--font-family-poppins);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-l);
  line-height: 24px;
  color: #FFFFFF;
  mix-blend-mode: normal;
}



.enter-your-user-id {
  background-color: transparent;
  border: 0;
  flex-shrink: 1;
  height: 14px;
  padding: 0;
  resize: none;
  width: 200px;
  font-family: var(--font-family-poppins);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-l);
  line-height: 24px;
  color: #7F8489;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-left: -44px;
}

.user-id {
  font-family: var(--font-family-poppins);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-l);
  line-height: 24px;
  color: #FFFFFF;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-right: 1.0px;
  margin-top: 28px;
  margin-left: 30px;
  min-height: 24px;
  min-width: 281px;
  
  text-shadow: 0px 2px 2px rgba(39,44,53,0.4);
  white-space: nowrap;
  width: 281px;
  mix-blend-mode: normal;
}

.group-3 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-top: 5px;
  min-width: 329px;
}
.group-40 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-top: 40px;
  min-width: 324px;
}

.view-logo {
  align-self: center;
  height: 200px;
  margin-left: 5.0px;
  mix-blend-mode: normal;
  object-fit: cover;
  padding-top: 50px;
}

.landing {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/608178fed79b79a76d681ef9/releases/60817970aa2568f714955729/img/rectangle-84@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 900px;
  padding: 0 466px;
  width: 1440px;
}
.login {
  color: rgba(176,128,255,1.0);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  left: 129px;
  position: absolute;
  top: 19px;
}
.login-1 {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 500;
  letter-spacing: 1.00px;
  line-height: 24px;
  margin-left: 3.0px;
  min-height: 24px;
  min-width: 281px;
  
  text-align: center;
  text-shadow: 0px 2px 2px rgba(39,44,53,0.4);
  white-space: nowrap;
  width: 281px;
}
.overlap-group-landing {
  align-items: center;
  background-color: var(--mine-shaft);
  border-radius: 30px;
  box-shadow: -6px -6px 20px rgba(73,78,82,0.7) , 8px 8px 30px rgba(35,37,39,0.9) , 2px 2px 6px rgba(35,37,39,0.8) , -2px -2px 4px rgba(74,78,83,0.5);
  display: flex;
  flex-direction: column;
  margin-top: 220px;
  min-height: 460px;
  padding: 35px 89px;
  width: 508px;
}
.overlap-group1 {
  border-radius: 30px;
  height: 58px;
  position: relative;
  width: 322px;
}

.overlap-group2 {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/608178fed79b79a76d681ef9/releases/60817970aa2568f714955729/img/rectangle-51@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 54px;
  min-width: 327px;
  padding: 19px 88.5px;
}
.overlap-group3 {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/608178fed79b79a76d681ef9/releases/60817970aa2568f714955729/img/rectangle-51@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 54px;
  min-width: 327px;
  padding: 18.5px 73.5px;
}

.rectangle-49 {
  background-color: var(--mine-shaft);
  border-radius: 30px;
  box-shadow: -6px -6px 20px rgba(73,78,82,0.7) , 8px 8px 30px rgba(35,37,39,0.9) , 2px 2px 6px rgba(35,37,39,0.8) , -2px -2px 4px rgba(74,78,83,0.5);
  cursor: pointer;
  height: 58px;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 322px;
}
.rectangle-49:hover {

  position: absolute;
  width: 322px;
  height: 58px;
  left: 0px;
  top: 0px;

  background: #2D3135;
  /* Hover Shadow */

  box-shadow: 8px 8px 30px rgba(35, 37, 39, 0.9), -6px -6px 20px rgba(74, 78, 83, 0.7), inset -2px -2px 4px rgba(74, 78, 83, 0.5), inset 4px 4px 10px rgba(35, 37, 39, 0.8);
  border-radius: 30px;

}
.text-1-landing {
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l2);
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 1.0px;
  margin-top: 29px;
  min-height: 24px;
  min-width: 281px;
  
  text-align: center;
  text-decoration: underline;
  text-shadow: 0px 2px 2px rgba(39,44,53,0.4);
  white-space: nowrap;
  width: 281px;
}


@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600");
* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen a {
  text-decoration: none;
  display: contents;
}
.smart-layers-pointers,
.smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}
input:focus {
  outline: none;
}
